::placeholder {
  transform: translatex(5%);
}

/**/
.eye-container {
  margin-top: 5%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.eye {
  width: 300px;
  height: 150px;
  position: relative;
  border: 2px solid white;
  border-radius: 50% / 100%;
  background-color: black;
  overflow: hidden;
}

.iris {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.pupil {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**/

.logreg-question {
  font-family: Amatic SC;
  color: aliceblue;
}

.main-log-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5%;
  width: 100%;
  height: 50vh;
}

.logreg-block {
  width: 400px;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.37);
}

.log-line {
  height: 10%;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.71);

  color: aliceblue;
  font-family: Amatic SC;
  font-size: 25px;

  animation-name: warning;
  animation-duration: 0.5s;
}

.pass-line {
  height: 10%;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.71);

  color: aliceblue;
  font-family: Amatic SC;
  font-size: 25px;
}

.password {
	position: relative;
}
.password-control {
	position: absolute;
	
  bottom: 22vh;
  left: 15.5vw;

	display: inline-block;
	width: 20px;
	height: 20px;
	background: blue;
}
.password-control.view {
	background: wheat;
}

.logreg-btn {
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.4s;
}

.log-btn {
  width: 80%;
  height: 50px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.552);

  color: rgb(0, 0, 0);
  font-family: Amatic SC;
  font-size: 25px;

  transition: 0.4s;
}

.logreg-btn :hover {
  color: aliceblue;
  background: rgba(42, 42, 42, 0.552);
}

.reg-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Amatic SC;
  font-size: 25px;
  transition: 0.3s;
}

.reg-link:hover {
  color: rgb(123, 40, 40);
}

/*ШРИФТЫ*/

.amatic-sc-regular {
  font-family: "Amatic SC", serif;
  font-weight: 400;
  font-style: normal;
}

/*АНИМАЦИИ*/

@keyframes warning {
  from {
    margin-left: 0px;
    margin-right: 0px;
    border-color: aliceblue;
  }

  25% {
    margin-left: 0px;
    margin-right: 10px;
  }

  50% {
    margin-left: 10px;
    margin-right: 0px;
  }

  to {
    margin-left: 0px;
    margin-right: 0px;
    border-color: red;
  }
}