body {
  background-color: rgb(135, 135, 135);
  margin: 0;
  top: 0;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

article {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

/*ОБЩИЕ НАСТРОЙКИ*/



/*ШАПКА*/

.main-header-container {
  position: relative;
  width: 100%;
  height: 8vh;

  backdrop-filter: blur(2px);
  background: rgba(102, 102, 102, 0.16);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.content-container {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  z-index: 2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.logo {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Chelsea Market;
  font-size: 30px;
  transition: 0.5s;

  animation-name: fadeOUTup;
  animation-duration: 3s;
}

.header-text {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Amatic SC;
  font-size: 35px;
  transition: 0.3s;

  animation-name: fadeOUTup;
  animation-duration: 3s;
}

.news:hover {
  color: rgb(123, 102, 40);
  font-size: 37px;
}

.games:hover {
  color: rgb(40, 59, 123);
  font-size: 37px;
}

.more:hover {
  color: rgb(55, 40, 123);
  font-size: 37px;
}

.brotherhood:hover {
  color: rgb(123, 40, 40);
  font-size: 37px;
}

.logo:hover {
  color: rgb(123, 40, 40);
  cursor: pointer;
}

/*ВЕРХНЯЯ ЧАСТЬ ПРОФИЛЯ (КНОПКИ И КАРТИНКИ)*/

.main-content-block {
  width: 80%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background: rgb(23, 20, 21);

  animation-name: transform-form;
  animation-duration: 3s;
}

.background-profile-block {
  width: 100%;
  height: 85%;
  background-image: url("../content/background-1.jpg");
  background-size: cover;
  background-position:center center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-infomation-block {
  width: 95%;
  height: 15%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.profile-img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-image: url("../content/avatar.jpg");
  background-size: cover;
  background-position:center center;
}

.profile-function {
  display: flex;
  gap: 20px;
}

.main-btn-profile {
  display: flex;
  gap: 20px;
}

.profile-nickname {
  color: rgb(255, 255, 255);
  font-family: Amatic SC;
  font-size: 25px;
  transition: 0.3s;

  animation-name: fadeOUTup;
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.profile-level {
  color: rgb(255, 255, 255);
  font-family: Amatic SC;
  font-size: 25px;
  transition: 1s;

  animation-name: fadeOUTup;
  animation-duration: 3s;
}

.custom-profile {
  animation-name: fadeOUTup;
  animation-duration: 3s;
  animation-delay: 1.5s;

  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Amatic SC;
  font-size: 35px;
  transition: 0.3s;
}

.custom-profile:hover {
  color: rgb(123, 102, 40);
}

.exit-profile {
  animation-name: fadeOUTup;
  animation-duration: 3s;
  animation-delay: 2s;

  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Amatic SC;
  font-size: 35px;
  transition: 0.3s;
}

.exit-profile:hover {
  color: red;
}

/*НИЖНЯЯ ЧАСТЬ ПРОФИЛЯ (функционал)*/

.profile-content-block {
  width: 80%;
  max-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.friends-block {
  width: 10vw;
  height: 10vh;
  border-radius: 20px;
  background: rgb(23, 20, 21);

  animation-duration: 1.5s;
  animation-name: block-up;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.NewsList-block {
  width: 10vw;
  height: 10vh;
  border-radius: 20px;
  background: rgb(23, 20, 21);

  animation-duration: 1.5s;
  animation-name: block-up;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.news-list-block-text1 {
  position: absolute;
  color: aliceblue;
  visibility: visible;
  transition: 0.2s;
}

.news-list-block-text2 {
  color: red;
  visibility: hidden;
  transition: 0.3s;
}

.NewsList-block:hover {
  background: rgba(23, 20, 21, 0.526);
  border: 1px solid antiquewhite;
  .news-list-block-text1 {
    color: rgb(123, 102, 40);
  }
}

.friends-block:hover {
  color: rgb(123, 102, 40);
  background: rgba(23, 20, 21, 0.526);
  border: 1px solid antiquewhite;
}

.NewsList-block:active {
  .news-list-block-text2 {
    visibility: visible;
  }
  .news-list-block-text1 {
    visibility: hidden;
  }
}


.text-deafult {
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

/*ШРИФТЫ*/

.chelsea-market-regular {
  font-family: "Chelsea Market", serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-regular {
  font-family: "Amatic SC", serif;
  font-weight: 400;
  font-style: normal;
}

/*АНИМАЦИИ*/

@keyframes block-up { /*from - начало, to - конец*/
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes transform-form {
  from {
    width: 0%;
    height: 0vh;
  }

  25% {
    height: 15vh;
  }

  50% {
    width: 80%;
    height: 15vh;
  }

  to {
    width: 80%;
    height: 50vh;
  }
}

@keyframes fadeOUTup{
  from {
    opacity: 0;
    margin-bottom: 40px;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}