::placeholder {
  font-family: 'Handjet', serif;
}
.agreement-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px; /* Расстояние между чекбоксом и текстом */
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

.shake {
  animation: shake 0.3s ease-in-out;
}
.input-error {
  border: 2px solid red;
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-10px);
  }
  40%, 80% {
    transform: translateX(10px);
  }
}

.eye-container {
  margin-top: 5%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.log-line, .pass-line, .optional-mail, .optional-number {
  padding-left: 2vh;
  font-family: 'Handjet', serif;
}

.eye {
  width: 300px;
  height: 150px;
  position: relative;
  border: 2px solid white;
  border-radius: 50% / 100%;
  background-color: black;
  overflow: hidden;
}

.iris {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.pupil {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**/

.logreg-question {
  color: aliceblue;

}

.main-reg-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5%;
  width: 100%;
  height: 60vh;
}

.logreg-block {
  width: 400px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.37);
}

.log-line, .optional-mail {
  height: 10%;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.71);

  color: aliceblue;
  font-size: 25px;
}

.pass-line {
  height: 10%;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.71);

  color: aliceblue;
  font-size: 25px;
}

.logreg-btn {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.log-btn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.552);
  transition: 0.4s;
}

.log-btn:hover {
  background: rgba(42, 42, 42, 0.552);
}

.btn-link {
  text-decoration: none; /* Убираем подчеркивание */
  color: rgb(0, 0, 0); /* Цвет текста */
  font-size: 25px;
  display: inline-block; /* Чтобы можно было регулировать отступы */
  width: 100%;
  text-align: center;
}

.log-btn:hover .btn-link {
  color: aliceblue; /* Меняем цвет текста при наведении */
}


.reg-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 0.3s;
}

.reg-link:hover {
  color: rgb(123, 40, 40);
}

.optional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  height: 40%;
}

.optional-text {
  color: aliceblue;
  text-align: center;
}


.optional-number {
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.71);

  color: aliceblue;
  font-size: 25px;
}

.agreement-window {
  display: none;
  width: 50px;
  height: 50px;
  background-color: aliceblue;
}

/*ШРИФТЫ*/

body {
  font-family: 'Handjet', serif;
  font-style: normal;
  font-variation-settings:
          "ELGR" 1,
          "ELSH" 5.2;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}


/* Стили для модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  color: #0e0f12;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.close {
  color: #000000;
  float: right;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 340px) {
  .logreg-question {
    font-size: 4vh;
  }

}